<div class="jumbotron">
  <h1 class="display-4">Contact List</h1>
  <p class="lead">
    Gerencie seus cotatos em qual quer lugar!
  </p>

  <p>
    <%= link_to 'Crie sua Conta', '#', class: 'btn btn-primary btn-lg' %>
  </p>
</div>