<div class="row">
  <div class="col-md-12">
    <h1>Editar dados</h1>
  </div>

  <div class="col-md-6 offset-md-3 col-sx-12">
    <%= form_for current_user do |f| %>
    
      <%= render 'form', f: f %>

      <%= f.submit 'cadastar', class: 'btn btn-primary'%>
    <% end %>
  </div>
</div>